@import './reset';
@import './themes/dark';
@import './themes/normal';
@import './themes/orange';
@import './variables/global';
@import './variables/z-index';
@import './variables/article';

body {
    overflow: hidden;
}

.app,
.app-design-v2 {
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
}

.app-design-v2 {
    background-color: var(--bg-design-v2);
    color: var(--text-design-v2);
    font: var(--font-m-design-v2);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

*::-webkit-scrollbar-thumb {
    width:0;
}
