@import './reset';
@import './themes/dark';
@import './themes/normal';
@import './themes/orange';
@import './variables/global';
@import './variables/z-index';
@import './variables/article';

body {
    overflow: hidden;
}

.app,
.app-design-v2 {
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
}

.app-design-v2 {
    background-color: var(--bg-design-v2);
    color: var(--text-design-v2);
    font: var(--font-m-design-v2);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 7px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--dark-bg-design-v2);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--light-bg-design-v2);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--accent-design-v2);  /* padding вокруг плашки */
}
