@import './reset';
@import './themes/dark';
@import './themes/normal';
@import './themes/orange';
@import './variables/global';
@import './variables/z-index';
@import './variables/article';

body {
    font-size: var(--font-m);
    color: var(--primary-color);
    overflow: hidden;
}

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 2px;
}
