.articleDetail {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
    display: block;

   svg {
         display: block;
         margin: 0 auto;
    }
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.ArticleBlockText {
    margin-bottom: 20px;
}

.ArticleBlockCode {
    margin-bottom: 20px;
}

.ArticleBlockImage {
    margin-bottom: 20px;
}
