.TAIL {
    width: 300px;
    transition: 0.2s;
    cursor: pointer;
    display: inline-block;

    .createdAt {
        transition: 0.2s;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        padding: 2px;
        background: var(--light-bg-design-v2);

        & p {
            color: var(--text-design-v2);
        }
    }

    &:hover {
        transform: scale(1.01);

        & .createdAt {
            opacity: 1;
        }
    }

    .imgWrapper {
        width: 100%;
        height: 200px;
        position: relative;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .articleInfo {
        margin: 5px 0;
    }

    .articleTypes p,
    .articleTitle p {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 210px;
        overflow: hidden;
    }

    .articleTitle p {
        width: auto;
    }

    .viewsIcon {
        margin-right: 8px;
        margin-left: auto;
        height: 14px;
    }
}

.LIST {
    margin-bottom: 30px;
    width: 100%;
    /* stylelint-disable-next-line no-descending-specificity */
    & .createdAt {
        margin-left: auto;
    }

    .header {
        margin-bottom: 5px;
    }

    .img {
        width: 100%;
        height: 200px;
        max-height: 200px;
        object-fit: cover;
        margin-bottom: 5px;
    }

    .description {
        max-height: 200px;
        overflow-y: hidden;
    }

    .articleTypes,
    .articleTitle {
        margin-bottom: 5px;
    }

    .skeletonTypes {
        margin-bottom: 15px;
    }

    .skeletonDescription {
        margin-bottom: 15px;
    }

    .viewsIcon {
        margin-left: auto;
        height: 14px;
        margin-right: 8px;
    }

    .skeletonImg {
        margin-bottom: 20px;
    }

    .footer {
        margin-top: 20px;
    }

    .skeletonHeader {
        margin-bottom: 10px;
    }
}
