

.avatar {
    width: 150px;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
}

.formLabel {
   min-width: 90px;
}

.grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px 30px;
    display: grid;
    row-gap: 20px;
    column-gap: 30px;
}