.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    flex-shrink: 0;
}

.switchers {
    position: absolute;
    bottom: 20px;
}

.items {
    margin-top: 10px;
    margin-left: 23px;
    font-size: var(--font-size-l);

    span {
        transition: all 0.3s;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .items {
        span {
            opacity: 0;
            scale: 0;
            width: 0;
            visibility: hidden;
        }
    }
}

.collapseBtn {
    z-index: var(--sidebar-toggle-z-index);
    position: absolute;
    right: -32px;
    bottom: 40px;
}
