.Input {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 2px;

    &:focus {
        outline: 1px solid var(--primary-color);
        box-shadow: 0 0 5px var(--primary-color);
    }

    &:disabled {
        opacity: 0.6;
    }

    &:read-only {
        outline: none;
        background: transparent;
        box-shadow: none;
    }
}

.background {
    background-color: var(--bg-color);
}

.backgroundInverted {
    background-color: var(--inverted-bg-color);
}

.outline {
    border: 1px solid var(--primary-color);
}
