@import "./reset";
@import "./themes/dark";
@import "./themes//normal";
@import "./variables/global";

.app {
	font-size: var(--font-m);
	background-color: var(--bg-color);
	color: var(--primary-color);

	min-height: 100vh;
}
