.ArticleViewSelector {
    .viewIconBtn svg {
        fill: var(--primary-color);
    }

    .activeView svg {
        fill: var(--secondary-color);
    }
}

.ArticleViewSelectorDesignV2 {
    border-radius: 30px;

    .viewIconBtn {
        fill: var(--light-bg-design-v2);
    }

    .activeView {
        &.viewIconBtn {
            fill: var(--accent-design-v2);
        }
    }
}


.label {
    margin-right: 10px;
}