.Wrapper {
    display: flex;
    align-items: center;
}

.label {
    margin-right: 10px;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 2px 10px;
    border: 1px solid var(--primary-color);
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
    padding: 1px 5px;
}

.readOnly {
    & > select {
        border: none;
        text-overflow: '';
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        opacity: 1;
    }
}
