body.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0452ff;
    --inverted-secondary-color: #0232c2;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2d2be8;
    --code-bg: #131376;
    --card-bg: #272777;
    --list-box-bg: #272777;
    
    --dark-bg-design-v2: #090f11;
    --bg-design-v2: #0c1214;
    --light-bg-design-v2: #151c1f;
    --text-design-v2: #dbdbdb;
    --hint-design-v2: #555;
    --cancel-design-v2: #d95757;
    --save-design-v2: #6cd98b;
    --icon-design-v2: #74a2b2;
    --accent-design-v2: #5ed3f3;
}
