.app.light {
    --bg-color: white;
    --inverted-bg-color: black;
    --primary-color: black;
    --secondary-color: #ccc;
    --inverted-primary-color: white;
    --inverted-secondary-color: grey;
}
