.Button {
    cursor: pointer;
    padding: 6px 15px;
}

.square {
    padding: 0;
}

.square.sizeM {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.sizeL {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.sizeXl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.clear,
.clearInverted {
    padding: 0;
    background: none;
    outline: none;
    border: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    border: none;
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.sizeM {
    font: var(--font-m);
}

.sizeL {
    font: var(--font-l);
}

.sizeXl {
    font: var(--font-xl);
}
