.Navbar {
    width: 100%;
    background-color: var(--inverted-bg-color);
    height: var(--navbar-height);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.NavbarDesignV2 {
    width: 100%;
    height: var(--navbar-height);
    padding: 16px ;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.logout,
.actions {
    margin-left: auto;
}

.logo {
    width: var(--sidebar-width);
}

.NotificationsList {
    width: 100%;
}
