.startIconBtn {
    svg {
        stroke: var(--primary-color);
        fill: none;
    }

    &.hovered {
        svg {
            fill: var(--primary-color);
        }
    }

    &.selected {
        cursor: auto;
    }
}



.redesignedStartIconBtn {
    svg {
        stroke:  var(--icon-design-v2);
        fill: none;
    }

    &.hovered {
        svg {
            fill: var(--icon-design-v2);
        }
    }

    &.selected {
        cursor: auto;
    }
}