.Card {
    padding: 10px;
    border-radius: 12px;
}

.withoutPaddings {
    padding: 0;
}

.normal {
    background: var(--dark-bg-design-v2);
}

.outline {
    background: none;
    border: 1px solid var(--accent-design-v2);
}

.light {
    background: var(--light-bg-design-v2);
}

.padding_0 {
    padding: 0px;
}

.padding_4 {
    padding: 4px;
}

.padding_8 {
    padding: 8px;
}

.padding_10 {
    padding: 10px;
}

.padding_16 {
    padding: 16px;
}

.padding_24 {
    padding: 24px;
}