.PageWrapper, .DesignV2PageWrapper {
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow: auto;
    width: 100%;
}

.PageWrapper {
    padding: 10px;
}

.trigger {
    height: 10px;
    margin: 10px;
}
